.grid {
  border: 2px blue solid;
  display:flex;
  justify-content: center;
  height: 1000%;
}

.head{
  background-color: red;
}
.contact{
  background-color: blue;
  flex-direction: column;
}
.media{
  background-color:grey;
  flex-direction: column;
}
.biography{
  background-color: pink;
}
.work{
  background-color:yellow;
}
.education{
  background-color: green;
}
.skills{
  background-color: gold;
}
.image{
  border-radius: 100px;
}
