.grid {
  border: 2px blue solid;
  display:flex;
  background-color:aqua;
  justify-content: center;
  height: 100%;
}

.grid1 {
  border: 2px red solid;
  display:flex;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: center;
  height: 100%;
}


.head{
}
.contact{
  border: 2px solid black;
  padding-left: 25px;
  padding-right: 25px;
  background-color: grey;
}

.biography{
  border: 2px solid aqua;
  padding-left: 25px;
  background-color: silver;
}

.image{
  border: 1px;
  border-radius: 200px;
}
.Para{
  border: 1px;
  padding-left: 130px;
  padding-right: 50px;
  word-wrap: break-word;
}

.Para1{
  border-bottom: 1px solid navy;
  padding-left: 130px;
  padding-right: 50px;
  word-wrap: break-word;
  padding-bottom: 40px;
}
