.grid {
  border: 2px blue solid;
  height: 1000px;
  width: 1250px;
  display: grid;
  grid-template-columns:50px 50px;
  grid-template-rows: 100px 100px;
  padding: 20px;
}

.angle {
}

.head{
  border: 2px black solid;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: Teal;
  padding: 100px:
}

.sethead{
  border: 2px solid Turquoise;
  display: flex;
  color: white;
  justify-content: center;
  padding: 20px;
}

.sideB{
  border: 2px black solid;
  grid-column-start: 1;
 grid-column-end: 4;
 grid-row-start: 3;
 grid-row-end: 5;
}

.content{
  border: 2px black solid;
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 5;
}

.set1{
  border-right: 3px solid white;
  border-left: 3px solid white;
  padding-left: 10px;
  padding-right: 10px;
  background-color: silver;
}

.set2{
  border: 1px ;
  padding-left: 25px;
  padding-right: 15px;
  background-color: aliceblue;
}

.image{
  border: 1px;
  border-radius: 200px;
}

.Para{
  border: 1px;
  padding-left: 130px;
  padding-right: 50px;
  word-wrap: break-word;
}

.Para1{
  border-bottom: 2px solid Aqua ;
  padding-left: 130px;
  padding-right: 50px;
  word-wrap: break-word;
  padding-bottom: 40px;
}

.imgspace{
  border: 2px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 25px;
}

.line{
  border-bottom: 2px solid Aqua ;
  padding-bottom: 25px;
}

body{
  font-family: "Times New Roman", Times, serif;
}


.gridr {
  border: 2px solid Aquamarine;
  display:flex;
  background-color: Teal;
  justify-content: center;
  height: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
}

.grid1 {
  border: 1px;
  display:flex;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: center;
  height: 100%;
}
